body {
	background-color: blue;
	border: 2px dashed black;
	padding: 380px;
	
}
table{
	width="10";
}

fieldset{
	outline:3px dotted black;
}

td{
	color: white;
	font-family: Arial;
	font-size: 110%
	font-kerning: normal;
}


td.TotalA {
	color: red;
	font-weight: bold;
	font-size: 2em;
}

td.TotalB {
	color: black;
	font-weight: bold;
	font-size: 2em;
}

h1.TeamA{
	color: red;
}

h1.TeamB{
	color: gray;
}
