body {
	background-color: green;
	border: 2px dashed black;
	padding: 380px;
	
}

fieldset{
	outline:3px dotted black;
}

Masters{
<p>The <abbr title="Three Hole Tournament">Masters</abbr> was founded in 2018.</p>
}



td{
	color: white;
	font-family: Arial;
	font-size: 110%
	font-kerning: normal;
}

#a{
	background-color: powderblue;
}

#b{
	background-color: powderblue;
}
#c{
	background-color: powderblue;
}
#q{
	background-color: powderblue;
}
#r{
	background-color: powderblue;
}
#s{
	background-color: powderblue;
}
